# Hour 1: Introduction to Python
Python and Classification Labcamp - Milano, 25/05/2016

Alex Loosley (a.loosley@reply.de)
<br>Alex Salles (a.salles@reply.de)

### Basic Datatypes:

#### Ints, floats, and Strings:

In [ ]:
a = 1
b = 1.
c = '1'

int / int = int

In [ ]:
1 / 2

In [ ]:
1./2

you can use "print" with int and float (and string)

In [ ]:
print a,b,c

#### Lists and iterables:

In [ ]:
li = [1,4.,'hello world', [5,2]]
li

In [ ]:
print("first item:       "+str(li[0]))
print("first 3 items:    "+str(li[:3]))
print("last item:        "+str(li[-1]))
print("last 3 items:     "+str(li[-3:]))
print("every secont item:"+str(li[::2]))

all the results, except for the first one, were lists!

##### "math" with lists

- list + string

In [ ]:
li + "new_element"

- list + list

In [ ]:
li + ["new_element"]

- multipicaiton: int * list

In [ ]:
2 * li

Why is the "new_element" not in the results from " 2 * li "?

- +=
- -=
- *=
- /=

In [ ]:
li += ["new_element"] 
li *= 2
print li

In [ ]:
# Loop through an iterable (e.g. a list)
for item in li:
    print item

In [ ]:
# the function range
# syntax: range([start], stop, [step])
print "only stop:                 ", range(5)
print "start, stop:               ", range(3,6)
print "start, stop, step:         ", range(0,100,10)
print "inverted start, stop:      ", range(100,0)
print "inverted start, stop, step:", range(100,0,-10)

In [ ]:
for item in range(1,10,2):
    print item

#### Functions:
There are two ways to define functions.
1. using a **def** command,
1. using a **lambda** call

In [ ]:
def add_two_values(a,b):
    return a+b

In [ ]:
add_two_values_v2 = lambda a,b: a+b

In [ ]:
add_two_values(10,5)

In [ ]:
add_two_values_v2(10,5)

### Dictionaries:

In [ ]:
roles_by_name = {
    'Alex Loosley': 'Intructor #1',
    'Alex Salles': 'Intructor #2',
    'Clark Kent': 'Superman'
}

In [ ]:
roles_by_name

#### Imports:
Other than lists, range(), and a few other primitives built into the python namespace, there isn't much to work with inside python without importing other modules into the name space.  Here are some of the most important modules to know, including pandas (like SQL for python) which we will use extensively in this labcamp.

In [ ]:
import numpy as np  # used for numeric computing (has APIs for arrays, etc.)
import pandas as pd # used for working with SQL like dataframes

In [ ]:
pd.DataFrame(li)

## Introduction to Pandas:

The main object in the Pandas module is the **data frame** (df), which, is a lot like a SQL object.  

Let's import sklearn, one of python's great machine learning modules, and import a preassembled dataset, turn it into a data frame, and take a look at how data frames work:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt # Used for plotting
from sklearn import datasets    # Used for machine learning

#### IRIS dataset:
See [Wiki Article](https://en.wikipedia.org/wiki/Iris_flower_data_set) for more information:

In [ ]:
iris_dict = datasets.load_iris()

In [ ]:
iris_dict.keys()

In [ ]:
iris_dict["feature_names"]

In [ ]:
df = pd.DataFrame(iris_dict.data, columns=['feature_1', 'feature_2', 'feature_3', 'feature_4'])
df.head(4)

In [ ]:
print df.describe()

##### Selections based on numerical location:

In [ ]:
df.iloc[0,1]

##### Selections based on index location and column name:

In [ ]:
df.ix[3, 'feature_3']

##### Selecting columns:

In [ ]:
df[['feature_1','feature_2']].head(2)

In [ ]:
df.iloc[:, :2].head(2)

##### Slicing:

In [ ]:
df[-3:] # last three rows

##### Mapping Values:

In [ ]:
df.feature_2.map(lambda val: 10*val)[-3:]

##### Plotting values

In [ ]:
df['feature_1'].plot()

In [ ]:
df.plot()

In [ ]:
df['feature_1'].hist()

In [ ]:
df.hist()

In [ ]:
df.boxplot()

##### Groupby:

In [ ]:
g = df.groupby('feature_1')

*g* is an intermediate groupby state containing all data grouped by *feature_1*:

In [ ]:
g.groups # Show intermediate

Groups can be aggregated by functions like:
* max()
* min()
* mean()
* sum()
* count()
* apply(lambda x,y: x+2*y) # Custer Aggregation

In [ ]:
g.count().head(2)

In [ ]:
g.sum().head(2)

##### Selections based on logical statement:

In [ ]:
df[df['feature_3'] == 5.1][-3:]

# Exercises with Pandas:

Let's do an example: We'll try to extract the list of the world's tallest buildings from
http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world

Pandas has a cool method called "read_html" that allows one to scrape the web:

In [ ]:
dfs = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world')

Play around with *dfs* and try to finish the following:
1. Data Inspection: What type of object is dfs?
1. Data Parsing: Create a df of tallest buildings, remember to give it column headers.
1. Data Parsing Part 2: At this point, each column is made up of strings. We want to convert them to numeric data types such as int or float.  To do so, create a function that takes an string input and tries to return it as an int:
(Partial Solutions at the Bottom)

In [ ]:
def convert_to_numeric(string):
    try:
        return int(string)
    except: # If the code in "try" doesn't work, return a "not a number" (nan) instead:
        return np.nan # nan is found within the numpy (np) module
    
# We can then use this function to map values in the data frame:
# df[col] = df[col].map(convert_to_numeric)
#
# The above worked okay, can we improve it?

More Problems:
4. Slicing Analysis: Create of df with buildings between 200 and 600m tall.  How many are there?
4. Groupby Analysis: What is the average height of buildings created, by year? (hint: use df.groupby('Year built').mean())

Hint for Problem 3: 
There are references that look like "[1]" attached to some of the numbers.  Let's remove them:
Check out the split method which can be applied to all strings:

Don't look at the solutions until you've tried the problems!!

### Exercise Solutions:

In [ ]:
tallest_buildings = dfs[2]
tallest_buildings.columns = tallest_buildings.ix[0]
tallest_buildings = tallest_buildings[1:]
tallest_buildings['Height (metres)'] = tallest_buildings['Height (metres)'].map(convert_to_numeric)
tallest_buildings['Year built'] = tallest_buildings['Year built'].map(convert_to_numeric)

In [ ]:
tallest_buildings.head()

In [ ]:
tallest_buildings.groupby("Year built")['Structure'].apply(list).tail(2)

In [ ]:
tallest_buildings.dtypes